public/index.html
<!DOCTYPE html><html><title></title><meta charset="utf-8"><meta http-equiv="x-ua-compatible" content="ie=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta name="description" content="weCreate Challenge - CityU"><meta name="keywords" content="weCreate Challenge - CityU"><link rel="stylesheet" href="css/vendor/bootstrap.min.css"><link rel="stylesheet" href="css/style.css"><link rel="stylesheet" href="css/vendor/slick.css"><link rel="stylesheet" href="css/vendor/slick-theme.css"><body><header class="container py-4"><img class="mb-3" src="images/logo.png" alt="cityU logo"><h1>Communication and Public Relations Office</h1><div class="searchbar"><form><div class="form-group"><input class="form-control" type="search" placeholder="Search"><button class="btn--icon searchbar__submit" type="submit"><div class="sr-only">Submit</div></button></div></form><button class="text-magnifier">A+</button></div></header><nav class="navbar-expand-md text-center"><div class="container px-0"><button class="nav-toggler btn--icon d-md-none btn--menu collapsed" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span>Menu</span></button><div class="collapse navbar-collapse" id="navbarNav"><ul class="navbar-nav nav-pills nav-fill main-nav"><li class="nav-item align-self-center"><a class="nav-link" href="#">Home</a></li><li class="nav-item align-self-center"><a class="nav-link" href="#">About CPRO</a></li><li class="nav-item align-self-center"><a class="nav-link" href="#">Branding</a></li><li class="nav-item align-self-center"><a class="nav-link" href="#">Services</a></li><li class="nav-item align-self-center"><a class="nav-link" href="#">University Communication</a></li><li class="nav-item align-self-center"><a class="nav-link" href="#">Outreach</a></li><li class="nav-item align-self-center"><a class="nav-link" href="#">Media</a></li><li class="nav-item align-self-center"><a class="nav-link" href="#">Contact</a></li></ul></div></div></nav><main><div class="main-slider"><div><img class="w-100" src="images/slider1.jpg"><p class="main-slider__desc">CityU continues to surge <br/>
in world’s rankingsqwqwqwqw</p></div><div><img class="w-100" src="images/slider2.jpg"><p class="main-slider__desc">CityU continues to surge <br/>
in world’s rankings</p></div><div><img class="w-100" src="images/slider3.jpg"><p class="main-slider__desc">CityU continues to surge <br/>
in world’s rankings</p></div></div><section class="section-about-cpro"><div class="container"><div class="row justify-content-md-center border-bottom py-5"><div class="col-md-10 text-center"><h2>About CPRO</h2><p class="desc">The Communications & Public Relations Office (CPRO) is the multi-channel communications team of City University of Hong Kong. CPRO builds upon CityU's strengths to enhance the University's outreach and image-building efforts. A key objective of CPRO is to help the University meet new challenges by building trust and understanding among the University community and the public.</p></div></div></div></section><section class="section-about-cityu-brand"><div class="container border-bottom"><h2 class="pt-5 text-center">About CityU Brand</h2><div class="row justify-content-center pt-5 text-center"><div class="col-md-10"><div class="row"><div class="col-md-4 mb-5"><img class="section-about-cityu-brand__icon" src="images/brand-icon1.png"><h3 class="section-about-cityu-brand__coltitle">Brand Pillars</h3><p class="section-about-cityu-brand__coldesc">The CityU brand helps communicate the message that CityU is a leading university on the world stage.</p></div><div class="col-md-4 mb-5"><img class="section-about-cityu-brand__icon" src="images/brand-icon2.png"><h3 class="section-about-cityu-brand__coltitle">Brand Personality</h3><p class="section-about-cityu-brand__coldesc">The CityU Brand showcases the university as a dynamic, innovative, bold, and smart brand with global ambitions.</p></div><div class="col-md-4 mb-5"><img class="section-about-cityu-brand__icon" src="images/brand-icon3.png"><h3 class="section-about-cityu-brand__coltitle">Brand Position</h3><p class="section-about-cityu-brand__coldesc">The CityU brand helps to reinforce CityU’s positioning in the global academic as a one of the leading global university.</p></div></div></div></div><div class="text-center pb-5"><button class="btn btn-primary btn--lg">Learn More</button></div></div></section><section class="section-feed"><div class="container pb-5 pt-3"><div class="row py-5 justify-content-center justify-content-md-left"><div class="col-md-7 offset-md-1 col-10 mb-4"><div class="feed-slider"><div><div class="row"><div class="col-md-3 mb-2 text-center"><img src="images/feed.jpg" alt="feed img"></div><div class="col-md-9 text-center text-md-left"><p class="mb-0 small">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam quis risus eget urna mollis ornare vel eu leo...</p><a class="pl-0 small" href="#">See More</a></div></div></div><div><div class="row"><div class="col-md-3 mb-2 text-center"><img src="images/feed.jpg" alt="feed img"></div><div class="col-md-9 mb-2 text-center text-md-left"><p class="mb-0 small">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam quis risus eget urna mollis ornare vel eu leo...</p><a class="pl-0 small" href="#">See More</a></div></div></div></div></div><div class="col-md-3 text-center text-md-left order-md-first"><button class="btn btn-facebook">CityU Facebook</button></div></div></div></section><section class="section-services bg-grey"><div class="container text-center"><div class="row justify-content-md-center"><div class="col-md-8"><h2>Services</h2><p class="desc">Donec sed odio dui. Maecenas faucibus mollis interdum. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur.</p></div></div><div class="row pb-md-3"><div class="col-md-4 pr-md-0"><div class="tilt-box box1"><button><div class="tilt-box__inner"><img class="mb-3" src="images/icon-video.png" alt="Corporate video"><p>Corporate videos</p></div></button></div></div><div class="col-md-8"><div class="tilt-box box2"><button><div class="tilt-box__inner"><img class="mb-3" src="images/icon-promotion.png" alt="Event Promotions"><p>Event Promotions</p></div></button></div></div></div><div class="row"><div class="col-md-8 pr-md-0"><div class="tilt-box box3"><button><div class="tilt-box__inner"><img class="mb-3" src="images/icon-gift.png" alt="Corporate video"><p>CityU Souvenirs</p></div></button></div></div><div class="col-md-4"><div class="tilt-box box4"><button><div class="tilt-box__inner"><img class="mb-3" src="images/icon-photography.png" alt="Photography Services"><p>Photography Services</p></div></button></div></div></div></div></section><section class="section-latest-news"><div class="container text-center"><div class="row justify-content-md-center"><div class="col-md-8"><h2>Latest News</h2><p class="desc">Donec sed odio dui. Maecenas faucibus mollis interdum. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur.</p></div></div></div><div class="news-wrapper grid-container-third"><div class="grid-item news-box"><button class="btn btn-full"><div class="news-box__inner"><div>Ipsum Condimentum Inceptos Nullam Mollis</div><div class="small">03 April 2017</div></div></button><img class="w-100 news-box__image" src="images/news1.jpg" alt="news1"></div><div class="grid-item news-box"><button class="btn btn-full"><div class="news-box__inner"><div>Ipsum Condimentum Inceptos Nullam Mollis</div><div class="small">03 April 2017</div></div></button><img class="w-100 news-box__image" src="images/news2.jpg" alt="news2"></div><div class="grid-item news-box"><button class="btn"><div class="news-box__inner"><div>Ipsum Condimentum Inceptos Nullam Mollis</div><div class="small">03 April 2017</div></div></button><img class="w-100 news-box__image" src="images/news3.jpg" alt="news3"></div></div></section><div class="section-questions text-center parallax"><p class="h4 pb-4 white">Questions on Public Relations & Communication matters?</p><button class="btn btn-outline-light btn--lg">Contact us</button></div><div class="floating-icons-wrapper"><button class="floating-icon btn--icon icon-print"><div class="sr-only">Print</div></button><button class="floating-icon btn--icon icon-mail"><div class="sr-only">Mail</div></button><button class="floating-icon btn--icon icon-phone"><div class="sr-only">Call Us</div></button></div></main><footer><div class="footer"><div class="container"><div class="row footer__sitemap"><div class="col-md-auto col-6"><p class="mb-4"><a href="#">Home</a></p></div><div class="col-md-auto col-6"><p class="mb-4"><a href="#">About CPRO</a></p></div><div class="col-md-auto col-6"><p class="mb-4"><a href="#">Branding</a></p><ul class="list-unstyled"><li><a href="#">CityU brand</a></li><li><a href="#">Corporate presentation</a></li><li><a href="#">Corporate video</a></li><li><a href="#">Souvenirs</a></li></ul></div><div class="col-md-auto col-6"><p class="mb-4"><a href="#">Services</a></p><ul class="list-unstyled"><li><a href="#">Event Promotions</a></li><li><a href="#">Via Cap</a></li><li><a href="#">Spotlight</a></li><li><a href="#">Event LCD TV</a></li><li><a href="#">Video Wall</a></li><li><a href="#">Photography Services</a></li><li><a href="#">Stock Photo</a></li><li><a href="#">Photographers</a></li><li><a href="#">Download Corp Videos</a></li><li><a href="#">Order Souvenirs</a></li></ul></div><div class="col-md-auto col-6"><p class="mb-4"><a href="#">University Communication</a></p><ul class="list-unstyled"><li><a href="#">Internal communication</a></li><li><a href="#">Linkage</a></li><li><a href="#">Glossary</a></li><li><a href="#">Multimedia</a></li><li><a href="#">Campus broadcast System</a></li><li><a href="#">CityU album</a></li><li><a href="#">Videos</a></li><li><a href="#">Publications</a></li><li><a href="#">Annual Report</a></li><li><a href="#">CityU at a glance</a></li><li><a href="#">CityU Today</a></li><li><a href="#">CityU Update</a></li><li><a href="#">Corporate Folder</a></li><li><a href="#">Newscentre</a></li><li><a href="#">Social Media</a></li></ul></div><div class="col-md-auto col-6"><p class="mb-4"><a href="#">Outreach</a></p><ul class="list-unstyled"><li><a href="#">Campus Visits</a></li><li><a href="#">School Programmes</a></li></ul></div><div class="col-md-auto col-6"><p class="mb-4"><a href="#">Media</a></p><ul class="list-unstyled"><li><a href="#">CityU in the news</a></li><li><a href="#">CityU newscentre</a></li><li><a href="#">Find an Expert</a></li></ul></div><div class="col-md-auto col-6"><p class="mb-4"><a href="#">Contact</a></p></div></div><div class="row pt-3 pb-5 text-center text-md-left"><div class="col-md-10"><ul class="list-unstyled nav nav__bottom"><li class="pr-md-2"><a href="#">Privacy Policy</a></li><li class="pr-md-2"><a href="#">Copyright</a></li><li class="pr-md-2"><a href="#">Disclaimer</a></li><li class="pr-md-2"><a href="#">Contact Us</a></li><li class="pr-md-2"><a href="#">Download</a></li><li class="pr-md-2"><a href="#">PDF Reader</a></li></ul><p>2017 City University of Hong Kong. All Rights Reserved</p></div><div class="col-md-2 text-md-right"><img class="img-fluid" src="images/logo-white.png" alt="CityU logo whote"></div></div></div></div></footer></body><script src="js/vendor/jquery-3.3.1.min.js"></script><script src="js/vendor/slick.min.js"></script><script src="js/vendor/tilt.jquery.min.js"></script><script src="js/vendor/bootstrap.min.js"></script><script src="js/main.min.js"></script></html>

views/index.pug
extends layout

block append head
	link(rel='stylesheet', href='css/vendor/slick.css')
	link(rel='stylesheet', href='css/vendor/slick-theme.css')

block content
	.main-slider
		div
			img(src='images/slider1.jpg').w-100
			p.main-slider__desc
				| CityU continues to surge <br/>
				| in world’s rankings
		div
			img(src='images/slider2.jpg').w-100
			p.main-slider__desc
				| CityU continues to surge <br/>
				| in world’s rankings
		div
			img(src='images/slider3.jpg').w-100
			p.main-slider__desc
				| CityU continues to surge <br/>
				| in world’s rankings
	section.section-about-cpro
		.container
			.row.justify-content-md-center.border-bottom.py-5
				.col-md-10.text-center
					h2 About CPRO
					p.desc The Communications & Public Relations Office (CPRO) is the multi-channel communications team of City University of Hong Kong. CPRO builds upon CityU's strengths to enhance the University's outreach and image-building efforts. A key objective of CPRO is to help the University meet new challenges by building trust and understanding among the University community and the public.
	section.section-about-cityu-brand
		.container.border-bottom
				h2.pt-5.text-center About CityU Brand
				.row.justify-content-center.pt-5.text-center
					.col-md-10
						.row
							.col-md-4.mb-5
								img(src='images/brand-icon1.png').section-about-cityu-brand__icon
								h3.section-about-cityu-brand__coltitle Brand Pillars
								p.section-about-cityu-brand__coldesc The CityU brand helps communicate the message that CityU is a leading university on the world stage.
							.col-md-4.mb-5
								img(src='images/brand-icon2.png').section-about-cityu-brand__icon
								h3.section-about-cityu-brand__coltitle Brand Personality
								p.section-about-cityu-brand__coldesc The CityU Brand showcases the university as a dynamic, innovative, bold, and smart brand with global ambitions.
							.col-md-4.mb-5
								img(src='images/brand-icon3.png').section-about-cityu-brand__icon
								h3.section-about-cityu-brand__coltitle Brand Position
								p.section-about-cityu-brand__coldesc The CityU brand helps to reinforce CityU’s positioning in the global academic as a one of the leading global university.
				.text-center.pb-5
					button.btn.btn-primary.btn--lg Learn More
	section.section-feed
		.container.pb-5.pt-3
			.row.py-5.justify-content-center.justify-content-md-left
				div.col-md-7.offset-md-1.col-10.mb-4
					.feed-slider
						div
							.row
								.col-md-3.mb-2.text-center
									img(src='images/feed.jpg', alt='feed img')
								.col-md-9.text-center.text-md-left
									p.mb-0.small Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam quis risus eget urna mollis ornare vel eu leo...
									a(href="#").pl-0.small See More
						div
							.row
								.col-md-3.mb-2.text-center
									img(src='images/feed.jpg', alt='feed img')
								.col-md-9.mb-2.text-center.text-md-left
									p.mb-0.small Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam quis risus eget urna mollis ornare vel eu leo...
									a(href="#").pl-0.small See More
				div.col-md-3.text-center.text-md-left.order-md-first
					button.btn.btn-facebook CityU Facebook
	section.section-services.bg-grey
		.container.text-center
			.row.justify-content-md-center
				.col-md-8
					h2 Services
					p.desc Donec sed odio dui. Maecenas faucibus mollis interdum. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur.
			.row.pb-md-3
				.col-md-4.pr-md-0
					.tilt-box.box1
						button
							.tilt-box__inner
								img.mb-3(src='images/icon-video.png', alt='Corporate video')
								p Corporate videos
				.col-md-8
					.tilt-box.box2
						button
							.tilt-box__inner
								img.mb-3(src='images/icon-promotion.png', alt='Event Promotions')
								p Event Promotions
			.row
				.col-md-8.pr-md-0
					.tilt-box.box3
						button
							.tilt-box__inner
								img.mb-3(src='images/icon-gift.png', alt='Corporate video')
								p CityU Souvenirs
				.col-md-4
					.tilt-box.box4
						button
							.tilt-box__inner
								img.mb-3(src='images/icon-photography.png', alt='Photography Services')
								p Photography Services
	section.section-latest-news
		.container.text-center
			.row.justify-content-md-center
				.col-md-8
					h2 Latest News
					p.desc Donec sed odio dui. Maecenas faucibus mollis interdum. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur.
		.news-wrapper.grid-container-third
			.grid-item.news-box
				button.btn.btn-full
					.news-box__inner
						div Ipsum Condimentum Inceptos Nullam Mollis
						.small 03 April 2017
				img.w-100.news-box__image(src='images/news1.jpg', alt='news1')
			.grid-item.news-box
				button.btn.btn-full
					.news-box__inner
						div Ipsum Condimentum Inceptos Nullam Mollis
						.small 03 April 2017
				img.w-100.news-box__image(src='images/news2.jpg', alt='news2')
			.grid-item.news-box
				button.btn
					.news-box__inner
						div Ipsum Condimentum Inceptos Nullam Mollis
						.small 03 April 2017
				img.w-100.news-box__image(src='images/news3.jpg', alt='news3')
	.section-questions.text-center.parallax
		p.h4.pb-4.white Questions on Public Relations & Communication matters?
		button.btn.btn-outline-light.btn--lg Contact us
